<!DOCTYPE html>
<html ng-app="myApp" lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script> <!-- Only to let bootstrap be responsive. -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Others -->
    <link rel="icon" type="image/png" href="images/logo.png" />
    <title>RPG events organizer !</title>

</head>

<body>
    
    <div rpg-navbar-menu></div>
	<div>

    <div class="table-responsive" ng-controller="getEventsController as getEventsCtrl">          
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Availability</th>
          <th>When ?</th>
          <th>Where ?</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in events_DB">
            <td>{{x.name}}</td>
            <td> {{x.availability}} </td>
            <td> {{x.beginning_date}} </td>
            <td> {{x.location}} </td>
            <td> {{x.description}} </td>
            <td>
                <button type="button" ng-click="is()" class="btn btn-success"> <!-- Not finished-->
                <span class=""></span> enrol</button>
            </td>
        </tr>
      </tbody>
    </table>
    </div>
		<!-- Evènements du joueur en question, ajout d'évènements, se retirer d'un évènement.

    Selection : $cookie.get("AYBABTU")
		Action à faire pour afficher : SELECT event_id FROM engage WHERE id = (SELECT id FROM users WHERE cookie.password = password);
		Action à faire pour supprimer : DELETE FROM engage where id = (SELECT id FROM users WHERE cookie.password = password);
		Si administrateur d'un event : Consulter les joueurs qui participent, pouvoir rendre important un membre...

		 -->
	</div>
<div rpg-footer></div>
</body>

</html>