<html ng-app="myApp" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="form.css">
</head>

<body>

	<div class="container-fluid">

		<form name="newUser" class="form-user" ng-controller="putController as putCtrl"  ng-submit="postOnDatabase()">

			<label for="newPseudo">Pseudo : </label>
			<input name="newPseudo" type="text" ng-model="formType.pseudo" required/>
			<div ng-messages="newUser.pseudo.$error" ng-messages-include="messages.html"></div>
			
			<label for="newEmail">Email : </label>
			<input name="newEmail" type="email" ng-model="formType.email" required/>
			<div ng-messages="newUser.email.$error" ng-messages-include="messages.html"></div>

			<label for="newPassword">Password : </label>
			<input name="newPassword" type="password" ng-model="formType.password" required/>
			<div ng-messages="newUser.password.$error" ng-messages-include="messages.html"></div>


			<label for="confirmPassword">Confirm password : </label>
			<input name="confirmPassword" type="password" ng-model="formType.passwordConfirm" required compare-to="formType.password"/>
			<div ng-messages="newUser.passwordConfirm.$error" ng-messages-include="messages.html"></div>

			<button class="btn btn-success"><span class="glyphicon glyphicon-plus"> Submit</span></button>
		</form>

		<a href="index.html" class="btn btn-primary">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		 Return to index</a>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="script.js"></script>
</body>

</html>