<html ng-app="myApp" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="form.css">
</head>

<body>

	<div class="container-fluid col-xs-6" ng-controller="putController as putCtrl">

		<form name="form" ng-submit="putCtrl.postOnDatabase()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="pseudo">Username</label>
            <input type="text" name="pseudo" id="pseudo" class="form-control" ng-model="formType.pseudo" required />
            <span ng-show="form.pseudo.$dirty && form.pseudo.$error.required" class="help-block">Username is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="formType.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

	<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="formType.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">email is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
           
        </div>
    </form>

		<a href="index.html" class="btn btn-primary">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		 Return to index</a>

         <p>
            {{formType.pseudo}}
            {{formType.email}}
            {{formType.password}}
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="script.js"></script>
</body>

</html>
