<!DOCTYPE html>
<html ng-app="myApp" lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/form.css">
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script> <!-- Only to let bootstrap be responsive. -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Others -->
    <link rel="icon" type="image/png" href="images/logo.png" />
    <title>RPG events organizer !</title>

</head>

<body>

    <div rpg-navbar-menu></div>
    
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 panel panel-default" ng-controller="postController as postCtrl">

		<form name="loginIn" ng-submit="postCtrl.login()" role="form">

            <div class="form-group" ng-class="{ 'has-error': loginIn.pseudo.$dirty && loginIn.pseudo.$error.required }">
                <label for="pseudo"></label>
                <input type="text" name="pseudo" id="pseudo" class="form-control" ng-model="logType.pseudo" placeholder="Username" required />
                <span ng-show="loginIn.pseudo.$dirty && loginIn.pseudo.$error.required" class="help-block">Username is required</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': loginIn.password.$dirty && loginIn.password.$error.required }">
                <label for="password"> </label>
                <input type="password" name="password" id="password" class="form-control" ng-model="logType.password" placeholder="Password" required />
                <span ng-show="loginIn.password.$dirty && loginIn.password.$error.required" class="help-block">Password is required</span>
            </div>

            <div class="form-actions">
                <button type="submit" ng-disabled="loginIn.$invalid" class="btn btn-success btn-lg btn-block">Login </button>
                <a href="index.html" class="btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Return to index
                </a>
                <p></p>
            </div>

        </form>
	       </div>
        </div>
    </div>
<div rpg-footer></div>
</body>

</html>