<!DOCTYPE html>
<html ng-app="myApp" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="form.css">
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Home</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="events.html">Events<span class="sr-only">(current)</span></a></li>
                    <li><a href="http://z0r.de/72">Drop da link</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="formToNewUser.html"><span class="glyphicon glyphicon-plus"></span> Sign up</a></li>
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 panel panel-default" ng-controller="putController as putCtrl">

		<form name="loginIn" ng-submit="putCtrl.login()" role="form">

            <div class="form-group" ng-class="{ 'has-error': loginIn.pseudo.$dirty && loginIn.pseudo.$error.required }">
                <label for="pseudo">Username</label>
                <input type="text" name="pseudo" id="pseudo" class="form-control" ng-model="logType.pseudo" required />
                <span ng-show="loginIn.pseudo.$dirty && loginIn.pseudo.$error.required" class="help-block">Username is required</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': loginIn.password.$dirty && loginIn.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="logType.password" required />
                <span ng-show="loginIn.password.$dirty && loginIn.password.$error.required" class="help-block">Password is required</span>
            </div>

            <div class="checkbox">
        	   <label for="rememberMe"><input type="checkbox" value=""></input>Remember Me !</label>
            </div>

            <div class="form-actions">
                <button type="submit" ng-disabled="loginIn.$invalid" class="btn btn-success">Login </button>
                <a href="index.html" class="btn btn-primary">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Return to index
                </a>
            </div>

        </form>
        <div> THE ANSWER {{reponse}} </div>
	       </div>
        </div>
    </div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script> <!-- Only to let bootstrap be responsive. -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>